<h1><%= "Total #{pluralize(@user_all.count,"user")} registered"%></h1>
<%= will_paginate%>
<% if @s_user.count > 0 %>
<h1><%= "Count is: #{@s_user.count}, First one has name : #{@s_user.first.name}"%></h1>
<% end %>
<ul class="users">
<!--#render @users will cause Rails to look for a partial
#called _user.html.erb and iterate through them-->
<%= render @users%>
</ul>
<%= will_paginate%>
