<h1><%= "Total #{pluralize(@user_all.count,"user")} registered"%></h1>
<%= will_paginate%>
<h1><%= "Count is: #{@s_user[0].name}"%></h1>
<ul class="users">
<%= render @users%>
</ul>
<%= will_paginate%>
