<%= form_for @micropost do |f|%>
   <%=render 'shared/error_messages', :object => f.object %>
   <div>
     <%= f.label "Title"%>
   </div>
   <div class = "field">
     <%= f.text_field :title%>
   </div>
   <div>
     <%= f.label "Tell me more"%>
   </div>
   <div class = "field">
     <%= f.text_area :content%>
   </div>
   <div class = "actions">
     <%= f.submit "Submit"%>
   </div>
<% end%>
